<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<h3>Sobe hotela</h3>
<p style="color: #343a40; background-color: #edeff0; border-radius: 5px; border:0;">
    <b>Napomena:</b>Prikazane vrednost u padajucim listama su podrazumevane, klikom na dugme "Izmeni",
    dolazi do cuvanja selektovanih vrednosti.
</p>
<form th:action="@{manager/room/update}" method="POST" th:each="room : ${rooms}">
    <input type="hidden" name="roomId" th:value="${room.id}">
    <!--action da bude i ID sobe-->
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Broj sobe</th>
            <th scope="col">Status</th>
            <th scope="col">Tip sobe</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <h2 th:if="${rooms == null}">Hotel nema sobe.</h2>
        <tr>
            <th th:text="${room.id}" scope="row">1</th>
            <td>
              <select name="updateRoomStatus">
                  <option style="color: red;" value="true">Zauzeta</option>
                  <option style="color: green;" value="false">Slobodna</option>
              </select>
            </td>
            <td>
                <select name="updateRoomType">
                   <option th:each="roomType : ${roomTypes}" th:value="${roomType.id}" th:text="${roomType.name}"></option>
                </select>
            </td>
            <td>
                <input style="color: white;" class="btn btn-warning" type="submit" value="Izmeni">
            </td>
        </tr>
        </tbody>
    </table>
</form>
</body>
</html>